apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
data:
  # Base64 of AIzaSyAuU0XjZzbvcpJrZw6Py4btpgAOpdoapyQ
  LLM_API_KEY: QUl6YVN5QXVVMFhqWnpidmNwSnJadzZQeTRidHBnQU9wZG9hcHlR
